<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="pageH4-1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
<div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box4">
          <div class="inner">
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel/hotel4" class="nav1">Descripcion</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotel4/reserva" class="nav2">Reservaciones </a></li>
		  <li><a href="http://127.0.0.1:5000/hotel/hotel4/calificacion" class="nav3">Calificanos </a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/hotel4/contactus" class="nav4">Contactanos</a></li>
        </ul>
      </nav>
	  </div>
    </div>
	</div>
    </div>
    </header>
	<section id="content">
      <article class="col2 pad_left1">
        <h2>DETALLES SOBRE EL HOTEL</h2>
        <div class="wrapper under">
		  <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/habitacion3.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Acerca del Hotel</strong></p>
          <p class="pad_bot2">Este hotel de suites de larga estancia, que ocupa un edificio de estilo mediterráneo, está situado a 4,8 millas (7,7 km) del museo Republic of the Río Grande y a 6,5 millas (10,5 km) del parque estatal internacional Lake Casa Blanca. </p>
          
		  <p class="pad_bot2"><strong>Loaclización</strong></p> 
		  <p class="pad_bot2">110 Calle Del Norte Laredo, Texas 78041, EE. UU.</p>
           
          <p class="pad_bot2"><strong>Habitaciones</strong></p>
          <p class="pad_bot2">Todas las suites, de 1 o 2 dormitorios, cuentan con una decoración sencilla, camas de diseño personalizado, televisión de pantalla plana, Wi-Fi gratis, sala de estar con comedor independiente, sofá cama y cocina básica.</p>
		 
          <p class="pad_bot2"><strong>Servicios</strong></p>
          <p class="pad_bot2">El hotel incluye desayuno caliente, aperitivos vespertinos y aparcamiento gratuitos, asador en las instalaciones, gimnasio con clases de yoga, piscina cubierta, centro de negocios, zona de reuniones y servicio de traslado al aeropuerto las 24 horas.</p>
	
          <p class="pad_bot2"><strong>Precio</strong>: 111.75$</p>
         
	  </div>
	  </article>
    </section>
	
	
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>

<!-- 

		  -->