<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-1.4.2.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/cufon-replace.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/Myriad_Pro_600.font.js') }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="pageH6-1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
<div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box6">
          <div class="inner">
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel/hotel6" class="nav1">Descripcion</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotel6/reserva" class="nav2">Reservaciones </a></li>
		  <li><a href="http://127.0.0.1:5000/hotel/hotel6/calificacion" class="nav3">Calificanos </a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/hotel6/contactus" class="nav4">Contactanos</a></li>
        </ul>
      </nav>
	  </div>
    </div>
	</div>
    </div>
    </header>
	<section id="content">
      <article class="col2 pad_left1">
        <h2>DETALLES SOBRE EL HOTEL</h2>
        <div class="wrapper under">
		  <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/habitacion4.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Acerca del Hotel</strong></p>
          <p class="pad_bot2"> Este lujoso hotel del 1898 con vistas al río Moscova está a 9 minutos a pie del metro de Moscú y a 15 minutos a pie de la Catedral de San Basilio en la Plaza Roja.</p>
          
		  <p class="pad_bot2"><strong>Loaclización</strong></p> 
		  <p class="pad_bot2">Balchug St, 1, Moscow, Rusia, 115035</p>
           
          <p class="pad_bot2"><strong>Habitaciones</strong></p>
          <p class="pad_bot2">Las elegantes habitaciones, de techos altos, cuentan con Wi-Fi gratis, televisiones de pantalla plana, bases para iPod y, 
		  en algunos casos, zonas de descanso o vistas al Kremlin. Todas las suites incluyen salas de estar independientes y solo algunas han sido decoradas de forma personalizada por casas reales europeas.</p>
		 
          <p class="pad_bot2"><strong>Servicios</strong></p>
          <p class="pad_bot2">El hotel cuenta con un restaurante de alta cocina, un vestíbulo donde se sirve té por la tarde y un bar restaurante con una terraza. Además, dispone de un spa chic con una piscina cubierta, un gimnasio, un salón y 12 salas de reuniones.</p>
	
          <p class="pad_bot2"><strong>Precio</strong>: 221.31$</p>
         
	  </div>
	  </article>
    </section>
	
	
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>

<!-- 

		  -->