<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="pageH5-1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
<div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box5">
          <div class="inner">
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel/hotel5" class="nav1">Descripcion</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotel5/reserva" class="nav2">Reservaciones </a></li>
		  <li><a href="http://127.0.0.1:5000/hotel/hotel5/calificacion" class="nav3">Calificanos </a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/hotel5/contactus" class="nav4">Contactanos</a></li>
        </ul>
      </nav>
	  </div>
    </div>
	</div>
    </div>
    </header>
	<section id="content">
      <article class="col2 pad_left1">
        <h2>DETALLES SOBRE EL HOTEL</h2>
        <div class="wrapper under">
		  <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/habitacion6.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Acerca del Hotel</strong></p>
          <p class="pad_bot2">Este hotel, que ocupa un palacio restaurado del siglo XV que conserva elementos originales, se encuentra frente a los restos del Templo de Coricancha, a 8 minutos a pie de la animada plaza de Armas y a 9 de la Catedral de Cuzco.</p>
          
		  <p class="pad_bot2"><strong>Loaclización</strong></p> 
		  <p class="pad_bot2">Perú, Cusco, Santo Domingo 259, Cusco 08002</p>
           
          <p class="pad_bot2"><strong>Habitaciones</strong></p>
          <p class="pad_bot2">Las habitaciones, elegantes y decoradas con obras de arte de inspiración local y detalles dorados, tienen mobiliario de madera oscura, Wi-Fi (por un suplemento), televisión de pantalla plana, base para iPod, minibar, cafetera y balcón o terraza. 
		  Las suites incluyen sala de estar, dormitorio adicional y, en algunos casos, servicio de mayordomo.</p>
		 
          <p class="pad_bot2"><strong>Servicios</strong></p>
          <p class="pad_bot2">El hotel dispone de un restaurante refinado con paredes de piedra vista y terraza, un bar exclusivo, un spa de alta gama y patio.</p>
	
          <p class="pad_bot2"><strong>Precio</strong>: 274.51$</p>
         
	  </div>
	  </article>
    </section>
	
	
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>

<!-- 

		  -->