<!DOCTYPE html>
<html lang="en">
<head>
<title>HOTELS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css" media="all">

<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="pageH2-1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="http://127.0.0.1:5000/hotel" id="logo">HOTELS</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
<div class="row-2">
      <div class="indent">
        <!-- header-box begin -->
        <div class="header-box2">
          <div class="inner">
      <nav>
        <ul id="menu">
          <li><a href="http://127.0.0.1:5000/hotel/hotel2" class="nav1">Descripcion</a></li>
          <li><a href="http://127.0.0.1:5000/hotel/hotel2/reserva" class="nav2">Reservaciones </a></li>
		  <li><a href="http://127.0.0.1:5000/hotel/hotel2/calificacion" class="nav3">Calificanos </a></li>
          <li class="end"><a href="http://127.0.0.1:5000/hotel/hotel2/contactus" class="nav4">Contactanos</a></li>
        </ul>
      </nav>
	  </div>
    </div>
	</div>
    </div>
    </header>
	<section id="content">
      <article class="col2 pad_left1">
        <h2>DETALLES SOBRE EL HOTEL</h2>
        <div class="wrapper under">
		  <figure class="left marg_right1"><img src="{{ url_for('static', filename='images/habitacion5.jpg') }}" alt=""></figure>
          <p class="pad_bot2"><strong>Acerca del Hotel</strong></p>
          <p class="pad_bot2"> Este hotel cuenta con una linda vista al mar, además, para la tranquilidad de los huéspedes, el establecimiento cuenta con extintor de incendios, detector de humo, sistema de seguridad y botiquín de primeros auxilios. Este establecimiento informa que actualmente aplica medidas de limpieza adicional y seguridad de los huéspedes. </p>
          
		  <p class="pad_bot2"><strong>Localización</strong></p> 
		  <p class="pad_bot2">Ave. San Martin, #455, Santa Cruz, Bolivia.</p>
           
          <p class="pad_bot2"><strong>Habitaciones</strong></p>
          <p class="pad_bot2">La habitación cuenta con un sistema de control de temperatura y un minibar. Estas habitaciones son insonorizadas, posee un baño privado, una ducha y artículos de tocador gratuito. Tambien posee un escritorio, wifi gratis y un teléfono.</p>
		 
          <p class="pad_bot2"><strong>Servicios</strong></p>
          <p class="pad_bot2">Para el servicio de masajes, es necesaria una reservación previa, que se puede realizar llamando al establecimiento antes de la llegada, utilizando los datos que figuran en la confirmación de la reservación.</p>
	
          <p class="pad_bot2"><strong>Precio</strong>: 116.39$</p>
         
	  </div>
	  </article>
    </section>
	
	
  </div>
  <div class="block"></div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>

<!-- 

		  -->